$padding-desktop:10px;

/* Medium Devices, Desktops */

$desktop:992px;

/* Small Devices, Tablets */

$tablets:768px;

/* Extra Small Devices, Phones */

$mobile_start:480px;

/* Custom, iPhone Retina */

$mobile_end:320px;
$responsive-nav-icon-size: 30px;
$responsive-nav-toggle-text: "☰";
$responsive-nav-open-toggle-text: "✕";

